<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="434bd55c-4db0-42d5-9bb5-c4fef93dea2c" Alias="articleListPage" Level="2">
  <Info>
    <Name>Article List Page</Name>
    <Icon>icon-thumbnail-list color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A list of articles or blog posts</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="d38b40bf-87e7-4b78-9a53-f52beb8c4614">contentProperties</Composition>
      <Composition Key="f6f69357-55b8-465c-ae1f-b13030d28f26">headerProperties</Composition>
      <Composition Key="9d13784a-0c78-4020-be39-8e496e07426c">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>ArticleListPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="1371f297-3df3-46bb-8c7d-e0a1f69df8f7">ArticleListPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>