<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3681263b-453e-4b7e-a92e-760681be3f6e" Alias="contactPage" Level="2">
  <Info>
    <Name>Contact Page</Name>
    <Icon>icon-old-phone color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="d38b40bf-87e7-4b78-9a53-f52beb8c4614">contentProperties</Composition>
      <Composition Key="f6f69357-55b8-465c-ae1f-b13030d28f26">headerProperties</Composition>
      <Composition Key="9d13784a-0c78-4020-be39-8e496e07426c">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>ContactPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="bc43ac42-0fca-40cb-8ee8-dfa0331172de">ContactPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>