<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="de82aacf-7602-48d4-9523-d84dbfde20c5" Alias="contentPage" Level="2">
  <Info>
    <Name>Content Page</Name>
    <Icon>icon-document color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A simple content page</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="d38b40bf-87e7-4b78-9a53-f52beb8c4614">contentProperties</Composition>
      <Composition Key="f6f69357-55b8-465c-ae1f-b13030d28f26">headerProperties</Composition>
      <Composition Key="9d13784a-0c78-4020-be39-8e496e07426c">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>ContentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="33f5d2bb-6614-4d34-bc12-aa808603fd74">ContentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>