<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6a4b8715-df2c-46d8-b32c-9aebe3b47c40" Alias="home" Level="1">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="f6f69357-55b8-465c-ae1f-b13030d28f26">headerProperties</Composition>
      <Composition Key="1c60b9cf-7adf-4a52-b7a6-c984094b3331">siteNavigationProperties</Composition>
    </Compositions>
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c86e6f12-1dfd-49a3-a14a-93d8d2e70dd3">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="de82aacf-7602-48d4-9523-d84dbfde20c5" SortOrder="0">contentPage</ContentType>
    <ContentType Key="434bd55c-4db0-42d5-9bb5-c4fef93dea2c" SortOrder="1">articleListPage</ContentType>
    <ContentType Key="3681263b-453e-4b7e-a92e-760681be3f6e" SortOrder="2">contactPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>