<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e9c8e56c-7e9f-4716-9a2a-6f75a38e8108" Alias="[Dropdown] Colours" Level="1">
  <Info>
    <Name>[Dropdown] Colours</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "red"
    },
    {
      "id": 2,
      "value": "pink"
    },
    {
      "id": 3,
      "value": "yellow"
    },
    {
      "id": 4,
      "value": "blue"
    },
    {
      "id": 5,
      "value": "green"
    },
    {
      "id": 6,
      "value": "black"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>