<?xml version="1.0" encoding="utf-8"?>
<Media Key="78fc53b5-04db-4429-9605-b9b3a740731c" Alias="IMG 1909" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IMG1909</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-02-16T14:22:44</CreateDate>
    <NodeName Default="IMG 1909" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vvjpy4g1/img_1909.heic]]></Value>
    </umbracoFile>
  </Properties>
</Media>