<?xml version="1.0" encoding="utf-8"?>
<Media Key="d5250b3a-e9ce-4973-9c1c-9d1bc64a1ac3" Alias="IMG 20211116 102956" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IMG20211116102956</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-02-17T10:03:07</CreateDate>
    <NodeName Default="IMG 20211116 102956" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hqfdlvoo/img_20211116_102956.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>