<?xml version="1.0" encoding="utf-8"?>
<Content Key="faf540bb-7931-4f4e-b307-ea933b056730" Alias="Blog" Level="2">
  <Info>
    <Parent Key="ab84ebcb-f988-40b3-90b1-bac42d25dc66">Home</Parent>
    <Path>/Home/Blog</Path>
    <Trashed>false</Trashed>
    <ContentType>articleListPage</ContentType>
    <CreateDate>2023-02-16T14:03:02</CreateDate>
    <NodeName Default="Blog" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1371f297-3df3-46bb-8c7d-e0a1f69df8f7">ArticleListPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "b771e15a-3ef4-4add-b9c8-1c697ce4b447",
    "mediaKey": "28f7f3e1-3267-424a-b6b2-b384133b4fab"
  }
]]]></Value>
    </mainImage>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>