<?xml version="1.0" encoding="utf-8"?>
<Content Key="4387b405-c03d-443a-91e2-d8506c16f745" Alias="Contact" Level="2">
  <Info>
    <Parent Key="ab84ebcb-f988-40b3-90b1-bac42d25dc66">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2023-02-16T14:03:32</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bc43ac42-0fca-40cb-8ee8-dfa0331172de">ContactPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "04766004-b9ca-460b-aa79-a3c3283c6057",
    "mediaKey": "7af8827d-646e-4893-bafe-a80c2acde5c9"
  }
]]]></Value>
    </mainImage>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>