<?xml version="1.0" encoding="utf-8"?>
<Content Key="ab84ebcb-f988-40b3-90b1-bac42d25dc66" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2023-02-09T15:28:26</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c86e6f12-1dfd-49a3-a14a-93d8d2e70dd3">Home</Template>
  </Info>
  <Properties>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "bc490496-45d8-4021-8ec0-00bbb73af4c8",
    "mediaKey": "68e42184-19a7-4afb-9669-b46c6f8b1edd"
  }
]]]></Value>
    </mainImage>
    <mainNavigation>
      <Value><![CDATA[[
  {
    "name": "Home",
    "udi": "umb://document/ab84ebcbf98840b390b1bac42d25dc66"
  },
  {
    "name": "About",
    "udi": "umb://document/2463419dc99b46e4a2a70fc5e45ad8aa"
  },
  {
    "name": "Contact",
    "udi": "umb://document/4387b405c03d443a91e2d8506c16f745"
  },
  {
    "name": "Blog",
    "target": "_blank",
    "udi": "umb://document/faf540bb79314f4eb307ea933b056730"
  }
]]]></Value>
    </mainNavigation>
    <subtitle>
      <Value><![CDATA[Follow me and I will show you the world]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Rinzie's blog]]></Value>
    </title>
  </Properties>
</Content>